conda.enabled = true

params{
    base_publish_dir = './resources'
    // CTAT
    genome_file = "ref_genome.fa"
    transcriptome_file = "ref_annot.cds"
    peptide_file = "ref_annot.pep"
    gtf_file = "ref_annot.gtf"

}

process {
    cpus = 8
    memory = '8 GB'

    withLabel: pfam {
        time = '30m'
    }
    withLabel: did {
        time = '30m'
    }
    withLabel: ctat {
        time = '1h'
    }
}