# History files
.Rhistory
.Rapp.history

# Session Data files
*.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
.Rproj

# R Environment Variables
.Renviron

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Dataset files
data/
rawdata/

# Results
results/
plots/
report/ 
database/

# Reference genome
ctat-genome-lib/

# Report
*.pptx
legacy-scripts/

# Log builder script
log-builder.sh

# data files
*.fasta
*.tsv
*.txt
*.xlsx
*.dat
*.log
*.hmm*

# nextflow files
work/
.nextflow.*
cache/
