# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron


# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Dataset files
data/

# Results
results/

# Reference genome
grch38/