// Global default params, used in configs
params {
    // Input options
    input = null // Input file or directory
    output = baseDir // Output directory
    //URLs
    ctat_url = "https://data.broadinstitute.org/Trinity/CTAT_RESOURCE_LIB/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play.tar.gz"
    pfam_url = "https://ftp.ebi.ac.uk/pub/databases/Pfam/current_release/" // Pfam library URL
    did_url = "https://3did.irbbarcelona.org/download/current/3did_flat.gz" // DID library URL
    // Reference 
    ref_dir = "${params.output}/resources" // Reference directory
    ctat_lib = "${params.ref_dir}/ctat_genome_lib" // CTAT library directory
    pfam_lib = "${params.ctat_lib}/pfam" // Pfam library directory
    did_lib = "${params.ctat_lib}/3did" // DID library directory
    // Reference options
    fasta = "${params.ctat_lib}/ref_genome.fa" // Genome fasta file
    gtf = "${params.ctat_lib}/ref_annot.gtf" // Genome annotation file
    transcript = "${params.ctat_lib}/ref_annot.cdsplus.fa" // Transcript fasta file
    peptide = "${params.ctat_lib}/ref_annot.pep" // Peptide fasta file
    // Trimming
    
    // Alignment
    
    // Quantification

    // QC

    // MultiQC options

}

// Global defaults for all processes
process {

    // Check the defaults for all processes

}

// Set default executor to local
profiles {

}

// Set bash options
process.shell = """\
bash

set -e # Exit if a tool returns a non-zero status/exit code
set -u # Treat unset variables and parameters as an error
set -o pipefail # Returns the status of the last command to exit with a non-zero status or zero if all successfully execute
"""

// Load DSL2 module specific options
// TBD: Add subworkflows here - includeConfig "..."