nextflow.enable.dsl=2
docker.enabled = true
report.overwrite = true
timeline.overwrite = true
dag.overwrite = true

process {
    maxForks = 8
    errorStrategy = 'retry'

    withLabel: SALMON {
        cpus = 4
        memory = 20.GB
    }
    withLabel: STAR {
        cpus = 4
        memory = 24.GB
    }
    withLabel: TRIM {
        cpus = 4
        memory = 8.GB
    }
    withLabel: MULTIQC {
        cpus = 4
        memory = 4.GB
    }
}
params {
    // input files
    reads = "$projectDir/meta/samples.csv"

    // Reference
    reference = "$projectDir/ctat-genome-lib" 
    transcriptome_file = "$reference/ref_annot.cdna.fa"
    genome_file = "$reference/ref_genome.fa"
    gtf_annot = "$reference/ref_annot.gtf"

    // Indexes
    salmon_index_args = "-k 31 --gencode"
    salmon_index = "$reference/ref_genome.fa.salmon.idx"
    star_index_args = "--sjdbOverhang 150"
    star_index = "$reference/ref_genome.fa.star.idx"

    // R E S U L T S
    outdir = "$projectDir/results"

    // C O R E   A N A L Y S I S
    // STEP 1: Trimming
    trim_outdir = "$outdir/01_trim"
    trim_args = "-q 20 --length 36 --paired --illumina"

    //STEP 2: Quantification
    quant_outdir = "$outdir/02_quant"
    quant_args = "-l 'ISR'"

    //STEP 3: MultiQC report
    report_outdir = "$outdir/00_report"

    // A D V A N C E D   A N A L Y S I S
    //STEP 4: Alignment
    star_outdir = "$outdir/03_align"
    star_args = '''
        --twopassMode Basic
        --chimOutType Junctions
        --chimSegmentMin 12
        --chimJunctionOverhangMin 8
        --chimOutJunctionFormat 1
        --readFilesCommand "gunzip -c"
        --outSAMtype BAM SortedByCoordinate
        --outBAMcompression 6
        --outSAMstrandField intronMotif
        --outSAMunmapped Within
        --outReadsUnmapped None
        --outFilterScoreMinOverLread 0
        --outFilterMatchNminOverLread 0
        --outFilterMatchNmin 0
        --outFilterMismatchNmax 2
        --alignSJstitchMismatchNmax 5 -1 5 5
        --alignIntronMin 10
        --alignIntronMax 100000
        --alignMatesGapMax 100000
    '''
    //STEP 5: Fusion detection
    fusion_outdir = "$outdir/04_fusion"
    fusion_args = '''
    --denovo_reconstruct
    --extract_fusion_reads
    --examine_coding_effect
    '''
    
}