nextflow.enable.dsl=2
report.overwrite = true
timeline.overwrite = true
dag.overwrite = true

profiles {
    local {
        docker.enabled = true
        params.environment = 'local'

        process {
            executor = 'local'

            withLabel: low_effort {
                cpus = 4
                memory = 4.GB
            }
            withLabel: generic_task {
                cpus = 4
                memory = 12.GB
            }
            withLabel: thicc {
                cpus = 4
                memory = 22.GB
            }

            withName:QUANTIFICATION {
                container = 'quay.io/biocontainers/salmon:1.10.3--h45fbf2d_4'
            }
            withName:SALMON_INDEX {
                container = 'quay.io/biocontainers/salmon:1.10.3--h45fbf2d_4'
            }
            withName:FASTQC {
                container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
            }
            withName:TRIM_GALORE {
                container = 'quay.io/biocontainers/trim-galore:0.6.10--hdfd78af_1'
            }
            withName:SEQKIT {
                container = 'quay.io/biocontainers/seqkit:2.10.0--h9ee0642_0'
            }
            withName:MULTIQC {
                container = 'quay.io/biocontainers/multiqc:1.28--pyhdfd78af_0'
            }
        }
    }
    uppmax {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.envWhitelist = 'SNIC_TMP'
        params.environment = 'uppmax'
        //defaults for BIANCA
        params.project = 'sens2020018'
        params.max_memory = 500.GB
        params.max_cpus = 16
        params.max_time = 240.h

        process {
            executor = 'slurm'

            withLabel: low_effort {
                cpus = 4
                time = 6.h
            }
            withLabel: generic_task {
                cpus = 8
                time = 24.h
            }
            withLabel: thicc {
                cpus = 16
                time = 72.h
                queue = 'long'
            }
        }
    }
}



params {
    // input files
    reads = "$projectDir/meta/samples.csv"

    // Reference
    reference = "$projectDir/ctat-genome-lib"
    transcriptome_file = "$reference/ref_annot.cdna.fa"
    genome_file = "$reference/ref_genome.fa"
    gtf_annot = "$reference/ref_annot.gtf"

    // Indexes
    salmon_index_args = "-k 31 --gencode"
    salmon_index = "$reference/ref_genome.fa.salmon.idx"
    star_index_args = "--sjdbOverhang 150"
    star_index = "$reference/ref_genome.fa.star.idx"

    // R E S U L T S
    outdir = "$projectDir/results"

    // C O R E   A N A L Y S I S
    //STEP 0: Report
    report_outdir = "$outdir/00_report"
    fastqc_args = "-f fastq --svg -q"

    // STEP 1: Trimming
    trim_outdir = "$outdir/01_trim"
    trim_args = "-q 20 --length 36 --paired --illumina"

    //STEP 2: Quantification
    quant_outdir = "$outdir/02_quant"
    quant_args = "-l ISR"

    // A D V A N C E D   A N A L Y S I S
    //STEP 4: Alignment
    star_outdir = "$outdir/03_align"
    star_args = '''
        --twopassMode Basic
        --chimOutType Junctions
        --chimSegmentMin 12
        --chimJunctionOverhangMin 8
        --chimOutJunctionFormat 1
        --readFilesCommand "gunzip -c"
        --outSAMtype BAM SortedByCoordinate
        --outBAMcompression 6
        --outSAMstrandField intronMotif
        --outSAMunmapped Within
        --outReadsUnmapped None
        --outFilterScoreMinOverLread 0
        --outFilterMatchNminOverLread 0
        --outFilterMatchNmin 0
        --outFilterMismatchNmax 2
        --alignSJstitchMismatchNmax 5 -1 5 5
        --alignIntronMin 10
        --alignIntronMax 100000
        --alignMatesGapMax 100000
    '''
    //STEP 5: Fusion detection
    fusion_outdir = "$outdir/04_fusion"
    fusion_args = '''
    --FusionInspector validate
    --denovo_reconstruct
    --extract_fusion_reads
    --examine_coding_effect
    '''
    
}