nextflow.enable.dsl=2
docker.enabled = true

process {
    withLabel: SALMON {
        cpus = 4
        memory = 8.GB
    }
    withLabel: TRIM {
        cpus = 4
        memory = 4.GB
    }
}
params {
    // input files
    reads = "$projectDir/meta/samples.csv"
    // Reference
    reference = "$projectDir/ctat-genome-lib" 
    transcriptome_file = "$reference/ref_annot.cdna.fa"
    genome_file = "$reference/ref_genome.fa"
    index_args = "-k 31 --gencode"
    // Results
    outdir = "$projectDir/results"
    // STEP 1: trimming
    trim_outdir = "$outdir/01_trim"
    trim_args = "-q 20 --length 36 --paired --illumina"
}
